
@font-face {
	font-family: "JobClarendon";
	src: url("fonts/JobClarendonVariable-VF-Edu.woff2") format("woff2");
	font-weight: 1 900;
}

html {
    font-size: 100%;
    font-family: 'JobClarendon';
    line-height: 1.2;
}
    
a {
    color: #8B743D; 
}

.hed {
    font-size: 600%;
    line-height: 1.2;
    font-weight: 900;
    position: relative;
    margin-top: .5em;
    margin-bottom: 0em;
}

.dek {
    font-size: 200%;
    line-height: 1.2;
    margin-top: 0;
}

h3 {
    font-size: 80%;
    font-weight: 900;
    line-height: 1.4rem;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #8B743D;
}

.meta {
    font-size: .75rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
    
}

body {
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 2em;
    max-width: 75ch;
}

@media (min-width: 50em) {
    body {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

img {
    max-width: 100%;
    margin-top: .5em;
    margin-bottom: 2em;
    display: block;
    height: auto;
}