html {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: 0em;
    color: #29292D;
    background-color: #FCFFFF;
    display: table;
    margin: auto;
}
a {
    color: #8B743D;
  }

h1 {
    color:#29292D;
    font-size: 64px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: -.015em;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 0em;
    max-width: 100ch;
    text-align: center;
}

h2 {
    color:#435259;
    font-size: 14px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .15em;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 4em;
    text-transform: uppercase;
    text-align: center;
}

body {
    margin: 2em;
    max-width: 60ch;
}

img {
max-width: 100%;
margin-top: 1em;
margin-bottom: 1em;
display: block;
height: auto;
}