html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    color: whitesmoke;
    background-color: black;
}

.hed {
    font-size: clamp(4rem, 12vw, 9rem);
}
}